.design-stack {
  border-radius: 1.2rem;
  overflow: hidden;
  .design-stack-track {
    width: 100%;
    height: 300%;
    .design-stack-chunk {
      animation: 5s linear infinite design-stack-move;
    }
    .design-stack-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.5rem;
      border-radius: 1.2rem;
      width: 100%;
      height: 5.6rem;
      font-size: 2.8rem;
      font-weight: 900;
      &.ai {
        background-color: #330000;
        color: #fb9700;
      }
      &.ps {
        background-color: #001e36;
        color: #31a7fe;
      }
      &.xd {
        background-color: #470137;
        color: #f975fd;
      }
    }
  }
}
@keyframes design-stack-move {
  to {
    transform: translateY(-18.3rem);
  }
}
@keyframes design-stack-color {
  25% {
    background-color: #330000;
  }
  50% {
    background-color: #001e36;
  }
  75% {
    background-color: #470137;
  }
  100% {
    background-color: #330000;
  }
}
