@use "profile";
@use "works";
@use "contact";
main {
  background-color: var(--main-depth-100);
  padding-top: 8rem;
  .title {
    font-family: "GongGothicBold";
    font-size: 2rem;
    position: sticky;
    z-index: 50;
    top: 9.6rem;
    padding: {
      top: 2rem;
      bottom: 2rem;
    }
    background-color: var(--main-depth-100);
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: -6rem;
      width: 6rem;
      height: 6rem;
      border-radius: 3rem;
      background-color: transparent;
    }
    &::before {
      left: 0;
      box-shadow: -3rem -3rem 0 var(--main-depth-100);
    }
    &:after {
      right: 0;
      box-shadow: 3rem -3rem 0 var(--main-depth-100);
    }
  }
  .main-contents:not(:first-child) {
    margin-top: 6rem;
  }
}
