.navi {
  visibility: hidden;
  position: fixed;
  top: -12.6rem;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  z-index: 50;
  width: calc(100% - 4rem);
  border-radius: 1.5rem;
  padding: 1.5rem 3rem;
  background-color: var(--navi-back);
  backdrop-filter: blur(10px);
  .navi-items {
    display: flex;
    justify-content: space-between;
    .navi-item {
      min-width: 30%;
      font-size: 1.5rem;
      border-radius: 2.05rem;
      transition: background-color 150ms ease-out;
      &--current {
        background-color: var(--theme-misty-yellow);
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 1rem 2rem;
      }
    }
  }
  .theme {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.1rem solid var(--depth-500);
    margin-top: 1rem;
    padding-top: 1rem;
    span {
      margin-right: 1rem;
      font-size: 1.5rem;
    }
    &__toggle-icon {
      width: 4.8rem;
      &__track {
        fill: transparent;
        stroke: currentColor;
        stroke-width: 0.4rem;
        transition: 150ms ease-out;
      }
      &__head {
        transition: 150ms ease-out;
        fill: var(--text-color-500);
      }
    }

    &__skell:checked ~ .theme__toggle-icon {
      color: var(--theme-misty-yellow);
      .theme__toggle-icon__track {
        fill: currentColor;
      }
      .theme__toggle-icon__head {
        transform: translate(2.4rem);
      }
    }
  }

  transition: 100ms ease-out;
  &--opened {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 25.6rem);
  }
}

.header--filled .navi--opened {
  transform: translate(-50%, 30.6rem);
}
