:root {
  --text-color-100: hsl(240, 10%, 10%);
  --text-color-300: hsl(240, 10%, 25%);
  --text-color-500: hsl(240, 10%, 40%);

  --theme-misty-pink: hsl(0, 74%, 80%);
  --theme-misty-yellow: hsl(28, 66%, 85%);
  --theme-misty-blue: hsl(220, 39%, 76%);
  --theme-misty-purple: hsl(327, 29%, 65%);

  --depth-100: hsl(240, 17%, 90%);
  --depth-300: hsl(240, 17%, 84%);
  --depth-500: hsl(240, 17%, 74%);

  --navi-back: hsla(240, 17%, 84%, 80%);

  --main-depth-100: var(--theme-misty-pink);
  --main-depth-300: hsl(0, 74%, 85%);
  --main-depth-500: hsl(0, 74%, 90%);
}

[data-theme="dark"] {
  --text-color-100: hsl(240, 17%, 90%);
  --text-color-300: hsl(240, 17%, 84%);
  --text-color-500: hsl(240, 17%, 74%);

  --depth-100: hsl(240, 10%, 40%);
  --depth-300: hsl(240, 13%, 26%);

  --main-depth-100: var(--depth-300);
}
